<!--<hello name="pp" txtColor="red" [customStyles]="styling" #pp>

  <header>This is transcluded content using custom tag as selector</header>
  <div class="content">Using class  as selector'</div>
  <footer>Transcluded content ends..</footer>
</hello>-->
<!--<button (click)="addOther()">press to add</button>
<hello *ngFor="let elem of iterable;  trackBy: trackById" [item]="elem">
</hello>-->
<template ngFor [ngForOf]="tabs" let-tab let-i="index">
<button (click)="setTabSelected(i+1)">tab {{i+1}}</button>
</template>

<div [ngSwitch]="tabSelected">
  <template ngFor [ngForOf]="tabs" let-tab let-i="index">
    <p *ngSwitchCase="i+1">{{tab.content}}</p>
  </template>
  <p *ngSwitchDefault>select a tab </p>
</div>
